.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  padding: 10px;
}
.img {
  height: 100%;
  width: auto;
  margin-left: 50px;
}
.logoContainer {
  cursor: pointer;
}
.searchBar {
  margin-right: 160px;
}

.btn {
  border-radius: 4px;
  font-style: bold;
  height: 30px;
  background: #ec9595a4;
  cursor: pointer;

  font-weight: 700;
  font-size: 15px;
  color: #1b1b1bd2;
}
.btn:hover {
  background: #bb36019f;
}
