.pageContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addRecipeContainer {
  display: flex;
  width: 50vw;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2a8b981;
}

.formContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.btn {
  border-radius: 4px;
  font-style: bold;
  width: 200px;
  height: 30px;
  background: #ec9595a4;
  cursor: pointer;

  font-weight: 700;
  font-size: 15px;
  color: #1b1b1bd2;
}
.btn:hover {
  background: #bb36019f;
}
